<center>
    <h1>login</h1>
    <form action="/api/sessions/login" method="POST" class="form-group" id="formularioLogin">        
        <input type="text" name="email" placeholder="email">
        <br>
        <input type="text" name="password" placeholder="password">
        <br>
        <button >Enviar</button>
    </form>
    <a href="/api/sessions/github" class="btn btn-dark mt-5">Github</a>
</center>

<script>
    const form = document.querySelector('#formularioLogin')
    form.addEventListener('submit', async funciton(ev){
        ev.preventDefault()
        fetch('http://localhost:8080/api/sessions/login', {
            method: 'POST',
            headers: {
                "Content-Type": "application/json",
                "authorization": localStorage.getItem('token')
            },
            body: 
            if(result.status === 200){
                
            }
        })
    })
</script>